html {
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgb(59, 68, 99);
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    color: #dce4ec;
    margin-bottom: 30px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e74c3c;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e74c3c;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    /* using Twitter Bootstrap styles instead */
}

.validation-summary-errors ul {
    list-style: none;
    padding-left: 0;
}

.validation-summary-valid {
    display: none;
}

h1 {
    position: relative;
    margin-bottom: 30px;
}
h1 a {
    position: relative;
    z-index: 20;
    color: inherit;
}
h1 a:hover, h1 a:active {
    color: inherit;
    text-decoration: none;
}
h1 .fa {
    font-size: 120px;
    color: rgb(52, 152, 219);
    opacity: 0.2;
    position: absolute;
    z-index: 10;
}
h1 .fa-sun-o {
    left: 240px;
    top: -50px;
}

h1 .fa-moon-o {
    top: -10px;
    left: 360px;
}

h3 {
    font-weight: bold;
}

form > div {
    margin-bottom: 20px;
}

select {
    background-color: #ecf0f1;
    border: 2px solid #ecf0f1;
    color: #2c3e50;
}
select:hover {
    border-color: rgb(149, 165, 166);
}

/* The :hover effect is not appropriate on a touch device; JavaScript will add the desktop class if we're running on a non-touch device. */
body.notTouchDevice .working-days button:hover,
body.notTouchDevice .working-days button.checked:hover {
    background-color: rgb(149, 165, 166);
}

input, select, button {
    border-radius: 8px;
    cursor: pointer;
}

select {
    padding: 6px;
    font-weight: bold;
    outline: none; /* To prevent orange outline when clicked in Chrome */
}

.time-selector select {
    width: 75px;
}

.duration-selector select {
    width: 165px;
}

.time-separator {
    font-size: 30px;
    line-height: 1;
    padding: 0 4px;
}

.time-selector {
    white-space: nowrap;
}

.working-days button {
    color: #2c3e50;
    padding: 0;
    line-height: 1.2;
    font-size: 21px;
    width: 60px;
    vertical-align: auto;
}

.working-days button:hover,
.working-days button:focus {
    color: inherit; /* because of a Bootstrap CSS style*/
}

.working-days button.checked, .working-days button.checked.focus {
    background-color: rgb(52, 152, 219);
    color: white;
}

.calendar {
    float: left;
    position: relative;
    text-align: center;
    background-color: white;
    border: 2px solid rgb(243, 156, 18);
    color: rgb(243, 156, 18);
    width: 6.5em;
    border-radius: 16px;
    line-height:normal;
}
.calendar span {
    display: block;
    padding: 0.3em 0;
}
.calendar .day {
    background-color: rgb(243, 156, 18);
    color: white;
    border-radius: 12px 12px 0 0;
}
.calendar .date {
    font-size: 220%;
    padding: 0.1em 0 0 0;
    font-weight: bold;
    padding-bottom: 0;
}
.calendar .month {
    padding-top: 0;
}

.until {
    float: left;
    width: 6.5em;
    padding-top: 48px;
    text-align: center;
    line-height: 1;
}
.until span {
    display: block;
}

.days-more {
    float: left;
    position: relative;
    width: 11.5em;
    margin-top: 26px;
    line-height: 1;
}
.days-more-content {
    padding: 0.7em;
    color: white;
    border-radius: 16px;
    background-color: rgb(52, 152, 219);
    z-index: 20;
}
.days-more.always {
    width: 16.7em;
}
.days-more-content.always {
    padding: 1.05em 3em 1.05em 0.7em;
}
.days-more-content.always .fa.commute-direction {
    left: 3.4em;
}

.days-more .fa {
    color: rgb(52, 152, 219);
}
.days-more span {
    display: block;
}
.days-more .count {
    font-size: 140%;
    font-weight: bold;
    margin-bottom: 8px;
}

.percent {
    border-radius: 1em;
    color: white;
    background-color: rgb(52, 152, 219);
    font-size: 80%;
    padding: 0.4em 0.6em;
    position: absolute;
    top: 1.8em;
    right: -2.5em;
    line-height: 1.2;
    text-align: center;
    transform:rotate(7deg);
    -ms-transform:rotate(7deg); /* IE 9 */
    -webkit-transform:rotate(7deg) translate3d(0, 0, 0); /* Safari and Chrome */
}

.percent > span {
    display: block;
    font-size: 60%;
}

.results {
    clear: both;
}
hr.and {
    border: 4px solid #ecf0f1;
    border-radius: 4px;
}
.results.journey {
    width: 24.5em;
    margin: 0 auto;
}

.with-icon {
    position: relative;
}

.with-icon .fa {
    color: rgb(52, 152, 219);
    font-size: 250%;
    position: absolute;
    left: -0.45em;
    top: -0.2em;
    opacity: 0.2;
    z-index: 10;
}

.results.with-icon .fa {
    top: -0.2em;
}

.days-more-content .fa.commute-direction {
    color: white;
    opacity: 1;
    font-size: 380%;
    left: 2em;
    top: 0.05em;
}

.excluding {
    clear: both;
    margin-top: 30px;
}

.share {
    margin-top: 30px;
}
a .fa {
    font-size: 30px;
    padding-right: 8px;
}
.question {
    margin-bottom: 1em;
}

.accordion > .ui-accordion-header-active .text-info {
    display: none;
}

.accordion > h3 {
    cursor: pointer;
    margin-left: -20px;
    outline: none; /* To prevent orange outline when clicked in Chrome */
}
.accordion > h3:hover > .header-text {
    text-decoration: underline;
}

.accordion .ui-icon {
    display: inline-block;
    width: 20px;
    color: rgb(52, 152, 219);
    text-align: center;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.accordion .ui-icon-triangle-1-e:before {
    content: "\f0da"; /* fa-caret-right */
}
.accordion .ui-icon-triangle-1-s:before {
    content: "\f0d7"; /* fa-caret-down */
}

.text-info {
    font-size: 15px;
    font-weight: normal;
}

.working-days .btn-group {
    margin-bottom: 4px;
}

.jumbotron.overlay {
    opacity: 0.85;
    position: absolute;
    z-index: 5;
}

.jumbotron.content {
    background-color: inherit;
    position: relative;
    z-index: 6;
}

.fb-share-button {
    line-height: 1;
}

.location-map {
    text-align: center;
}

.location-map img {
    border: 2px solid rgb(52, 152, 219);
    border-radius: 16px;
    max-width: 100%;
    height: auto;
}

.year-bar {
    margin-top: 1em;
    width: 100%;
    line-height: 1;
    font-size: 50%;
    border: 2px solid rgb(52, 152, 219);
}

.year-bar .dark {
    background-color: gray;
}

.year-bar .twilight {
    background-color: silver;
}

.year-bar .light {
    background-color: white;
}

@media (max-width: 768px) {
    h1 .fa {
        font-size: 70px;
    }

    h1 .fa-sun-o {
        left: 136px;
        top: -30px;
    }

    h1 .fa-moon-o {
        top: -5px;
        left: 205px;
    }

    .results > div {
        float: inherit;
        margin: 0 auto;
    }

    .results.journey {
        width: 100%;
        height: auto;
    }

    .until {
        width: auto;
        padding: 0.8em 0;
    }
    .until span {
        display: inline;
    }
}
@media (min-width: 480px) {
    body {
        background-image: url(/Content/driving-sunrise.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: bottom center;
        height: 100%;
    }
}

@media (max-width: 480px) {
    .jumbotron, .working-days button {
        font-size: 16px;
    }

    h1 {
        display: none;
    }

    h3 {
        font-size: 18px;
    }

    .time-selector select {
        width: auto;
    }

    .text-info, body {
        font-size: 12px;
    }

    .container {
        padding: 0 5px;
    }

    .question {
        margin-top: 1em;
    }

    .container .jumbotron {
        padding: 5px;
    }

    .accordion > h3 {
        margin-left: 0;
    }

    .btn-group .btn {
        width: 40px;
        padding: 4px 0;
    }

    .accordion h3 .text-info {
        display: none;
    }

    .btn-lg {
        padding: 10px 20px;
        font-size: 16px;
    }

    form .with-icon .fa {
        left: 0;
    }
}

@media (max-width: 320px) {
    .btn-group {
        width: 100%;
    }

    .btn-group .btn {
        width: inherit;
    }

    .time-selector {
        display: block;
    }
}