@{
    ViewBag.Title = "About";
}

<h3>Why?</h3>
<p>No-one likes commuting in the dark, so @Html.ActionLink("Dark Mornings", "Index", "Home") uses your location and commute times to calculate when you will next be commuting in glorious daylight (or horrid darkness, depending on the time of year).</p>
<p>In the winter, count down the days until it will be light again.</p>
<p>In summer, enjoy those daylight commutes.</p>
<h3>Who?</h3>
<p>@Html.ActionLink("Dark Mornings", "Index", "Home") was hastily assembled by <a href="http://twitter.com/richev">Richard</a>. If you notice any inaccuracies or have any issues with the site then please let me know.</p>
<p></p>
<p>@Html.ActionLink("Dark Mornings", "Index", "Home") comes with no guarantees. If you are unsure whether it is daylight during your commute, please look up from your phone and out of the window of your train or car.</p>
<h3>How?</h3>
<p>Sunrise and sunset calculations <a href="http://www.codeproject.com/KB/recipes/SolarCalculator.aspx">&copy; Patrick Kalkman</a>.</p>
<p>Sun, moon and other icons from <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>.</p>
<p>IP Address-based location lookup from <a href="http://www.hostip.info/">hostip.info</a>.</p>
<p>Mostly uses Twitter Boostrap theme <a href="http://bootswatch.com/flatly/">Flatly</a>.</p>