@{
    ViewBag.Title = "About";
}

<h3>Why?</h3>
<p>Nobody likes commuting in the dark, so @Html.ActionLink("Dark Mornings", "Index", "Home") uses your location and commute times to calculate when you will next be commuting in glorious daylight (or horrid darkness, depending on the time of year).</p>
<p>In the winter, count down the days until it will be light again.</p>
<p>In summer, enjoy those daylight commutes.</p>

<h3>Who?</h3>
<p>@Html.ActionLink("Dark Mornings", "Index", "Home") was hastily designed and built by <a href="https://richev.me">Richard</a>. If you encounter any inaccuracies or issues with the site then please let me know.</p>
<p></p>
<p>@Html.ActionLink("Dark Mornings", "Index", "Home") comes with no guarantees. If you are unsure whether it is daylight during your commute, please look up from your phone and out of the window of your train or car.</p>
<h3>How?</h3>
<p>Your approximate location is determined either by <a href="http://en.wikipedia.org/wiki/W3C_Geolocation_API">asking your browser</a> (more accurate), or based on your <a href="http://en.wikipedia.org/wiki/IP_address_location">IP address</a> (less accurate, might not work).</p>
<p>IP Address-based location lookup from <a href="http://www.hostip.info/">hostip.info</a>.</p>
<p>The Solar Calculator used internally for sunrise and sunset calculations is <a href="http://www.codeproject.com/KB/recipes/SolarCalculator.aspx">&copy; 2011 Patrick Kalkman</a>.</p>
<p>Sun, moon and other icons from <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>.</p>
<p>Mostly uses Twitter Boostrap theme <a href="http://bootswatch.com/flatly/">Flatly</a>.</p>
<h3>And?</h3>
<p>The time zone of your computer/tablet/phone is used, so if you're on the road and your device time zone is not set to the local timezone then you may get incorrect results.</p>
<p>Depending on the times of your commutes, it may be that the switch to or from daylight-savings time can plunge you back into darkness for a second time. To keep things simple, @Html.ActionLink("Dark Mornings", "Index", "Home") won't tell you if this is the case. It just lets you know the first dates when your commutes will be completely in the light or dark.</p>
<p>The number of journeys shown is the count of working days between now and the first date when a commute is completely in the light (or dark).</p>
<p>If the first completely light/dark commute happens to land on a non-working day then the date reported will be the next or previous working day, as appropriate.</p>
<h3>More?</h3>
<p>Some other projects...</p>
<strong><a href="http://friendcull.com">FriendCull</a></strong>
<p>Is it time to spring clean your Facebook friend list? <a href="http://friendcull.com">FriendCull</a> is here to help!</p>
<strong><a href="https://kitreturn.com">kit return.com</a></strong>
<p>A fresh take on lost and found that makes the most of the kindness of strangers.</p>