@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title</h2>

<p>Sun, moon and other icons from <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>.</p>
<p>IP Address-based location lookup from <a href="http://www.hostip.info/">hostip.info</a>.</p>
<p>Using Twitter Boostrap theme <a href="http://bootswatch.com/flatly/">Flatly</a>.</p>