@using Richev.DarkMornings.Web
@model Richev.DarkMornings.Web.Models.DaylightInfo
<p>
    @if (Model.NextWorkingDayDaylightTransition.HasValue)
    {
        @:You have <strong>@Model.NumberOfDaysToTransition more</strong>
        if (Model.IsCurrentlyInDaylight)
        {
            @:light
        }
        else
        {
            @:dark
        }
        @:journeys @UIHelpers.GetCommuteText(Model.CommuteType), until <strong>@Model.NextWorkingDayDaylightTransition.Value.ToString("dddd d MMMM")</strong>.
    }
    else
    {
        @:Your journey @UIHelpers.GetCommuteText(Model.CommuteType) is always in the
        if (Model.IsCurrentlyInDaylight)
        {
            @:<strong>light</strong>.
        }
        else
        {
            @:<strong>dark</strong>.
        }
    }
</p>