<div>
    <h3>HTTP @HttpContext.Current.Response.StatusCode &mdash; @HttpContext.Current.Response.StatusDescription</h3>
    <p>There's nothing to see here, so why not return @Html.ActionLink("home", "Index", "Home")?</p>
</div>
